body {
    background: #f7f7f7;
}
#Search-wrap{
    height: 90px;
    padding-top: 30px;
    background: #fff;
}
#Search{
    height: 60px;
    width: 1200px;
    margin: 0 auto;
}
#Search .logo-index a{
    display: block;
    height: 60px;
    width: 130px;
    float: left;
    background: url(../images/logo_130x60.png) no-repeat center;
    cursor: pointer;
}
#Search .city-location {
    border: 1px solid #e6e6e6;
    height: 28px;
    width: 68px;
    float: left;
    margin: 10px 0 0 20px;
    position: relative;
}
#Search .city-location:hover {
    border-bottom: none;
}
#Search .city-location:hover .city-list {
    display: block;
}
#Search .city-location:hover .ico {
    transform: rotate(180deg);
    transition: all 0.5s;
}
#Search .city-location .city-location-span{
    position: relative;
    display: block;
    padding-left: 14px;
    line-height: 28px;
    font-size: 14px;
    cursor: pointer;
    color: #333;
}
#Search .city-location .city-list {
    display: none;
    width: 180px;
    padding: 8px 0;
    position: absolute;
    left: -1px;
    top: 25px;
    background-color: #fff;
    z-index: 4;
    border: 1px solid #e6e6e6;
    border-top: none;
}
#Search .city-location .city-list li {
    float: left;
    padding: 2px 10px;
    height: 26px;
    font-size: 12px;
}
#Search .city-location .city-list li a{
    display: inline-block;
    padding: 0 8px;
}
#Search .city-location .city-list li a:hover {
    color: #ec3639;
    background: #e8e8e8;
}
#Search .city-location .city-list li .cur {
    background: #ce1a1b;
    color: #fff;
}
#Search .city-location .city-location-span .ico{
    display: block; height: 4px; width: 7px; position: absolute; background: url(http://icon.zol-img.com.cn/newshop/shop/index/topbar_ico.png) no-repeat 0 -45px; top: 12px; right: 12px; 
}
#Search .quick-menu {
    height: 36px;
    padding-top: 8px;
    float: right;
    font-size: 12px;
    color: #333;
}
#Search .quick-menu a{
    position: relative;
    display: block;
    float: right;
    margin-left: 30px;
    text-align: right;
    font-size: 14px;
    line-height: 36px;
}
#Search .quick-menu .quick-menu-indent{
    width: 80px;
    height: 36px;
    
}
#Search .quick-menu .quick-menu-coupon{
    width: 95px;
    height: 36px;
}
#Search .quick-menu .quick-menu-cart{
    width: 64px;
    height: 36px;
}
#Search .quick-menu .quick-menu-indent .quick-icon {
    position: absolute;
    background: url(../images/head.png) no-repeat 0 -167px;
    top: 8px;
    display: block;
    height: 20px;
    width: 20px;
}
#Search .quick-menu .quick-menu-coupon .quick-icon {
    position: absolute;
    background: url(../images/head.png) no-repeat 0px -190px;
    top:9px;
    display: block;
    height: 18px;
    width: 22px;
}
#Search .quick-menu .quick-menu-cart .quick-icon {
    position: absolute;
    background: url(../images/head.png) no-repeat 0 -211px;
    top: 9px;
    display: block;
    height: 18px;
    width: 18px;
}
#Search .search-form {
    position: relative;
    margin-top: 8px;
    color: #333;
    height: 36px;
    width: 540px;
    float: left;
    margin-left: 68px;
    border: 2px solid #ec3639;
    box-sizing: border-box;
}
#Search .search-form .search-text {
    position: absolute;
    text-indent: 12px;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 0;
    border: none;
    display: block;
    height: 32px;
    width: 460px;
}
#Search .search-form .search-btn {
    position: absolute;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    border: none;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 75px;
    height: 32px;
    background: #ec3639;
}
#Search .search-form .search-hotwords {
    position: absolute;
    height: 18px;
    width: 165px;
    right: 75px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    font-size: 12px;
}
#Search .search-form .search-hotwords a{
    transition: all 0.2s;
    padding: 1px 2px 1px 2px;
    margin-left: 10px;
    color: #757575;
    display: block;
    float: left;
    line-height: 18px;
    box-sizing: border-box;
    background: #eee;
}
#Search .search-form .search-hotwords a:hover{
    background: #ec3639;
    color: #fff;
}
#top-nav-wrap {
    background: #fff;
    height: 38px;
}
#top-nav {
    height: 38px;
    width: 1200px;
    margin: 0 auto;
}
#top-nav .top-nav-box .ico {
    position: absolute;
    height: 10px;
    width: 12px;
    top: 14px;
    left: 26px;
    background: url(../images/head.png) no-repeat 0 -154px;
}
#top-nav .top-nav-box {
    position: relative;
    float: left;
    height: 38px;
    width: 108px;
    color: #fff;
    background: #ec3639;
    padding-left: 52px;
    line-height: 38px;
    cursor: pointer;
}
#top-nav .top-nav-list {
    padding-left: 24px;
    float: left;
}
#top-nav .top-nav-list li {
    font-size: 18px;
    float: left;
    line-height: 38px;
    text-align: center;
    padding-right: 50px;
}
#top-nav .top-nav-list li a{
    color: #333;
}
#top-nav .top-nav-list li a:hover{
    color: #f33;
}
#top-nav .top-nav-list li .index{
    color: #f33;
}

#banner-slide-wrap {
    height: 400px;
}
#banner-slide-wrap .slide-pic {
    position: relative;
}
#banner-slide-wrap .slide-pic a {
    display: block;
}
#banner-slide-wrap .slide-pic img {
    position: absolute;
}
#banner-slide-wrap .banner-inside {
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    color: #333;
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar {
    height: 400px;
    background: #454545;
    width: 160px;
    position: absolute;
    z-index: 999;
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar li {
    box-sizing: border-box;
    border-top:  1px solid #4d4d4d;
    position: relative;
    height: 55px;
    width: 160px;
    padding-right: 20px;
    margin: 0 auto;
    cursor: pointer;
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar li h3 {
    position: relative;
    height: 54px;
    width: 98px;
    float: right;
    line-height: 54px;
    font-size: 16px;
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar .li1 #category-item-1 {
    display: none;
    position: absolute;
    top: -1px;
    left: 160px;
    height: 400px;
    padding-top: 13px;
    box-sizing: border-box;
    background: #fff;
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar .li1 .items-list {
    box-sizing: border-box;
    padding-left: 26px;
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar .li1 #category-item-1 a{
    display: inline-block;
    color: #333;
    font-size: 14px;
    margin-right: 30px;
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar .li1 #category-item-1 a:hover {
    color: #f33;
    text-decoration: underline;
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar .li1:hover #category-item-1 {
    display: block;
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar .li2 #category-item-2 {
    display: none;
    position: absolute;
    top: -56px;
    left: 160px;
    height: 400px;
    padding-top: 13px;
    box-sizing: border-box;
    background: #fff;
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar .li2 .items-list {
    box-sizing: border-box;
    padding-left: 26px;
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar .li2 #category-item-2 a{
    display: inline-block;
    color: #333;
    font-size: 14px;
    margin-right: 30px;
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar .li2 #category-item-2 a:hover {
    color: #f33;
    text-decoration: underline;
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar .li2:hover #category-item-2 {
    display: block;
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar .li3 #category-item-3 {
    display: none;
    position: absolute;
    top: -111px;
    left: 160px;
    height: 400px;
    padding-top: 13px;
    box-sizing: border-box;
    background: #fff;
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar .li3 .items-list {
    box-sizing: border-box;
    padding-left: 26px;
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar .li3 #category-item-3 a{
    display: inline-block;
    color: #333;
    font-size: 14px;
    margin-right: 30px;
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar .li3 #category-item-3 a:hover {
    color: #f33;
    text-decoration: underline;
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar .li3:hover #category-item-3 {
    display: block;
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar .li4 #category-item-4 {
    display: none;
    position: absolute;
    top: -166px;
    left: 160px;
    height: 400px;
    padding-top: 13px;
    box-sizing: border-box;
    background: #fff;
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar .li4 .items-list {
    box-sizing: border-box;
    padding-left: 26px;
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar .li4 #category-item-4 a{
    display: inline-block;
    color: #333;
    font-size: 14px;
    margin-right: 30px;
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar .li4 #category-item-4 a:hover {
    color: #f33;
    text-decoration: underline;
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar .li4:hover #category-item-4 {
    display: block;
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar .li5 #category-item-5 {
    display: none;
    position: absolute;
    top: -221px;
    left: 160px;
    height: 400px;
    padding-top: 13px;
    box-sizing: border-box;
    background: #fff;
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar .li5 .items-list {
    box-sizing: border-box;
    padding-left: 26px;
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar .li5 #category-item-5 a{
    display: inline-block;
    color: #333;
    font-size: 14px;
    margin-right: 30px;
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar .li5 #category-item-5 a:hover {
    color: #f33;
    text-decoration: underline;
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar .li5:hover #category-item-5 {
    display: block;
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar .li6 #category-item-6 {
    display: none;
    position: absolute;
    top: -276px;
    left: 160px;
    height: 400px;
    padding-top: 13px;
    box-sizing: border-box;
    background: #fff;
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar .li6 .items-list {
    box-sizing: border-box;
    padding-left: 26px;
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar .li6 #category-item-6 a{
    display: inline-block;
    color: #333;
    font-size: 14px;
    margin-right: 30px;
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar .li6 #category-item-6 a:hover {
    color: #f33;
    text-decoration: underline;
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar .li6:hover #category-item-6 {
    display: block;
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar .leftsidebar-icon1 {
    position: absolute;
    display: block;
    width: 13px;
    height: 18px;
    left: 16px;
    top: 17px;
    background: url(../images/head.png) no-repeat 0 0;
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar .leftsidebar-icon2 {
    position: absolute;
    display: block;
    width: 20px;
    height: 16px;
    left: 12px;
    top: 20px;
    background: url(../images/head.png) no-repeat 0 -21px;
    
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar .leftsidebar-icon3 {
    position: absolute;
    display: block;
    width: 19px;
    height: 18px;
    left: 13px;
    top: 19px;
    background: url(../images/head.png) no-repeat 0 -133px;   
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar .leftsidebar-icon4 {
    position: absolute;
    display: block;
    width: 20px;
    height: 18px;
    left: 12px;
    top: 17px;
    background: url(../images/head.png) no-repeat 0 -40px;   
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar .leftsidebar-icon5 {
    position: absolute;
    display: block;
    width: 15px;
    height: 27px;
    left: 15px;
    top: 11px;
    background: url(../images/head.png) no-repeat 0 -61px;   
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar .leftsidebar-icon6 {
    position: absolute;
    display: block;
    width: 19px;
    height: 17px;
    left: 13px;
    top: 18px;
    background: url(../images/head.png) no-repeat 0 -91px;   
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar a {
    color: #fff;
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar em {
    display: block;
    position: absolute;
    top: 23px;
    right: 12px;
    width: 6px;
    height: 11px;
    background: url(../images/head.png) no-repeat -44px -154px;
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar li:hover a:hover {
    color: #f33;
    text-decoration: underline;
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar li:hover em {
    display: none;
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar li:hover {
    background-color: #fff;
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar li:hover a {
    color : #333;
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar li:hover .leftsidebar-icon1 {
    background-position: -37px 0;
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar li:hover .leftsidebar-icon2{
    background-position: -30px -21px;
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar li:hover .leftsidebar-icon3 {
    background-position: -31px -133px;
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar li:hover .leftsidebar-icon4 {
    background-position: -30px -40px;
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar li:hover .leftsidebar-icon5 {
    background-position: -35px -61px;
}
#banner-slide-wrap .banner-inside .banner-inside-leftsidebar li:hover .leftsidebar-icon6 {
    background-position: -31px -91px;
}

#commodity-area1 {
    position: relative;
    height: 598px;
    width: 1200px;
    margin: 0 auto;
    padding: 34px 0 0 ;
}
#commodity-area1 .tuan-img {
    position: absolute;
    height: 587px;
    width: 181px;
    top: 11px;
    left: -19px;
}
#commodity-area1 .commodity {
    height: 564px;
    box-sizing: border-box;
    width: 1040px;
    float: right;
    border-top: 2px solid #ec3639;
}
#commodity-area1 .more-tuan {
    position: absolute;
    background: url(../images/moreTuan.png) no-repeat center;
    text-align: center;
    height: 31px;
    line-height: 31px;
    width: 107px;
    font-size: 16px;
    color: #fff;
    bottom: 83px;
    left: 27px;
}
#commodity-area1 .more-tuan:hover {
    text-decoration: underline;
}
#commodity-area1 .commodity .com-left {
    float: left;
    height: 562px;
    width: 681px;
    background: #fff;
}
.commodity .com-left .list-item li {
    height: 281px;
    box-sizing: border-box;
    width: 227px;
    border-right: 1px solid rgba(184, 180, 180, 0.342);
    border-bottom : 1px solid rgba(184,180,180,0.342);
    float: left;
    position: relative;
}

/* 遮罩交互效果 */
.commodity .com-left .list-item li .com-mask {
    display: block;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 128px;
    background: rgba(0, 0, 0, 0.6);
    height: 0;
    width: 227px;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
}
.commodity .com-left .list-item li .com-mask .mask-price {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}
.commodity .com-left .list-item li .com-mask .menu-list {
    line-height: 28px;
    text-align: center;
}
.commodity .com-left .list-item li .com-mask .menu-list a{
    color: #fff;
    font-size: 12px;
    margin: 0 5px;
}
.commodity .com-left .list-item li .com-mask .menu-list a:hover {
    text-decoration: underline;
}
.commodity .com-left .list-item li:hover .com-mask{
    height: 52px;
    z-index: 100;
    transition: all .5s;
}
/* end */
.commodity .com-left .list-item li .a-top{
    position: relative;
    display: block;
    height: 180px;
    width: 227px;
}
.commodity .com-left .list-item li .a-top img{
    margin: 0 auto;
    height: 180px;
    width: 180px;
    display: block;
}
.commodity .com-left .list-item li .p-desc-name {
    padding-left: 30px;
    width: 227px;

}
.commodity .com-left .list-item li .p-desc-name  .a-text{
    display: block;
    width: 170px;
    color: #333;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.commodity .com-left .list-item li .p-desc-name  .a-text:hover {
    color: #ec3639;
    text-decoration: underline;
}
.commodity .com-left .list-item li .p-desc-price {
    padding-left: 30px;
    height: 36px;
    color: #f33;
    line-height: 36px;
    font-size: 18px;
}
.commodity .com-left .list-item li .p-desc-price .price-rmb {
    line-height: 36px;
    font-size: 16px;
}
.commodity .com-left .list-item li .time {
    padding-left: 30px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: #757575;
}
.commodity .com-left .list-item li .time em {
    color: #333;
}
.commodity .com-left .list-item li .time em .red-color {
    color: red;
}
.commodity .item-right {
    float: right;
    position: relative;
    height: 561px;
    width: 359px;
    background: #fff;
}
.commodity .item-right  li {
    position: relative;
    height: 187px;
    width: 359px;
}
.commodity .item-right li .com-pic{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;
    margin: auto;
    width: 140px;
    height: 140px;
    display: block;
}
.commodity .item-right li .com-pic img {
    display: block;
    height: 140px;
    width: 140px;
}
.commodity .item-right li .com-pic .icon {
    color: #fff;
    text-align: center;
    padding: 0 1px 0 1px;
    font-size: 12px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 29px;
    height: 38px;
    background: url(../images/actIcon.png) no-repeat center;
}
.commodity .item-right  li .com-states {
    padding-top: 26px;
    box-sizing: border-box;
    padding-left: 180px;
    height: 187px;
}
.commodity .item-right  li .com-states  p .states-text{
    color: #333;
    font-size: 14px;
}
.commodity .item-right  li .com-states  p .states-text:hover {
    color: #ec3639;
    text-decoration: underline;
}
.commodity .item-right li .p-desc-price {
    height: 36px;
    color: #f33;
    line-height: 36px;
    font-size: 18px;
}
.commodity .item-right li .p-desc-price .price-rmb {
    line-height: 36px;
    font-size: 16px;
}
.commodity .item-right  li .com-states  p .icon{
    display: block;
    width: 140px;
    font-size: 12px;
    padding: 0 15px;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    color: #ec3639;
    height: 22px;
    line-height: 22px;
    background: #ffe3e3;
}
.commodity .item-right  li .com-states .com-onclick {
    position: absolute;
    bottom: 35px;
    color: #fff;
    cursor: pointer;
    height: 32px;
    width: 155px;
    text-align: center;
    line-height: 32px;
    background: url(../images/arrivalBtn.png) no-repeat center;
}

#Lotteries {
    overflow: hidden;
    height: 102px;
    width: 1200px;
    margin: 30px auto 0;
}
#Lotteries .Lotteries-all {
    margin-right: 0;
    box-shadow: none;
    border: none;
    background: url(../images/coupon-all-bg.png) no-repeat left top;
    box-sizing: border-box;
    height: 102px;
    width: 168px;
    padding-top: 11px;
    padding-left: 20px;
    color: #fff;
    float: left;
}
#Lotteries .Lotteries-all h4{
    font-weight: 100;
    font-size: 24px;
    height: 33px;
    width: 137px;
    line-height: 33px;
}
#Lotteries .Lotteries-all p {
    height: 21px;
    width: 137px;
    line-height: 21px;
    font-size: 14px;
    color: #fcc;
}
#Lotteries .Lotteries-all div {
    height: 32px;
    width: 137px;
}
#Lotteries .Lotteries-all div a {
    font-size: 14px;
    color: #fff;
    line-height: 32px;
}
#Lotteries .Lotteries-all div a:hover{
    text-decoration: underline;
}
#Lotteries li {
    position: relative;
    float: left;
    width: 221px;
    height: 90px;
    background: #fff;
    padding: 10px 10px 0;
    border: 1px solid #f0f0f0;
    box-shadow: 1px 0 3px #e8e8e8;
    margin-right: 15px;
}
#Lotteries li .ico {
    display: block;
    position: absolute;
    top:0;
    width: 18px;
    right: -18px;
    height: 101px;
    background:url(../images/zol-home-icons.png) no-repeat -68px 0;
}
#Lotteries li .Lotteries-info {
    border-bottom: 1px solid #f3f3f3;
    height: 59px;
}
#Lotteries li .Lotteries-info .price {
    font-style: italic;
    font-size: 32px;
    float: left;
    height: 55px;
    width: 111px;
    text-align: left;
    color: #f66;
    line-height: 55px;
    font-weight: 700;
}
#Lotteries li .Lotteries-info .name h5{
    height: 22px;
    line-height: 22px;
    padding: 6px 0 0;
    font-size: 14px;
    color: #f66;
    font-weight: 900;
}
#Lotteries li .Lotteries-info .name p{
    color: #999;
    font-size: 12px;
}
#Lotteries li .go-and-get {
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
}
#Lotteries li .go-and-get a{
    color: #f66;
}
#Lotteries li .go-and-get a:hover {
    text-decoration: underline;
}

#Local-purchase {
    box-sizing: border-box;
    width: 1200px;
    height: 36px;
    margin: 35px auto 15px;
    padding-left: 40px;
    background: url(../images/zol-home-icons.png) no-repeat -143px -85px;
}
#Local-purchase h3 {
    height: 36px;
    line-height: 36px;
    margin-right: 10px;
    font-size: 24px;
    font-weight: 400;
    color: #333;
    float: left; 
}
#Local-purchase div {
    box-sizing: border-box;
    float: left;
    line-height: 28px;
    font-size: 14px;
    padding-top: 8px;
    color: #999;
}
#Local-purchase p {
    float: right;
    padding-right: 23px;
    height: 36px;
    line-height: 40px;
    background: url(../images/zol-home-icons.png) no-repeat 100% -277px;
    font-size: 12px;
}
#Local-purchase p a {
    color : #333;
}
#Local-purchase p:hover {
    background: url(../images/zol-home-icons.png) no-repeat 100% -309px;
    cursor: pointer;
}
#Local-purchase p:hover a{
    color: #ec3639;
    text-decoration: underline;
}
#Local-pic{
    height: 200px;
    width: 1200px;
    margin: 0 auto;
}
#Local-pic a:nth-child(2) {
    margin: 0 3px 0;
}
#Local-pic a{
    display: block;
    float: left;
}
#Local-items {
    width: 1200px;
    height: 359px;
    box-sizing: border-box;
    background: #fff;
    margin: 0 auto;
    color: #333;
}
#Local-items .item {
    float: left;
    height: 315px;
    width: 200px;
    padding: 20px 20px 24px;
}
#Local-items .item .pic {
    display: block;
    margin-bottom: 10px;
}
#Local-items .item .ware-name {
    width: 200px;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#Local-items .item .ware-name a{
    color: #333;
}
#Local-items .item .ware-name a:hover {
    color: #ec3639;
    text-decoration: underline;
}
#Local-items .item .ware-msg {
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    color: #999;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#Local-items .item .price-info {
    height: 32px;
    margin-bottom: 5px;
    line-height: 32px;
}
#Local-items .item .price-info .price {
    float: left;
    font-size: 18px;
    color: #f33;
    line-height: 32px;
}
#Local-items .item .price-info .refer-price {
    font-size: 12px;
    float: right;
    color: #f33;
    line-height: 32px;
}
#Local-items .item .price-info .refer-price span {
    color: #999;
}
#Local-items .item .ware-detail a{
    display: inline-block;
    position: relative;
    height: 22px;
    padding: 0 6px;
    line-height: 22px;
    border: 1px solid #f66;
    font-size: 12px;
    color: #f33;
    border-radius: 3px;
}
/* ware-detail BG */
#Local-items .item .ware-detail .function-icon .fun-hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s;
}
#Local-items .item .ware-detail .function-icon .fun-hover p {
    height: 100%;
    color: #fff;
    font-size: 12px;
    white-space: nowrap;
    padding: 0 6px;
    box-sizing: border-box;
}
#Local-items .item .ware-detail .function-icon:hover .fun-hover {
    width: 100%;
    background: #f66;
}
/* end */
#intelligent-select {
    height: 36px;
    width: 1200px;
    margin: 50px auto 10px;
    padding-left: 40px;
    box-sizing: border-box;
    font-size: 24px;
    color: #333;
    line-height: 36px;
    background:url(../images/zol-home-icons.png) no-repeat -138px -345px;
}

#intelligent-items {
    background: #fff;
    padding: 20px;
    height: 660px;
    width: 1160px;
    margin: 0 auto;
    color: #333;

}
#intelligent-items .int-left {
    position: relative;
    width: 730px;
    float: left;
}
#intelligent-items .int-left .int-left-list img{
    height: 234px;
    width: 627px;
    position: absolute;
    right: 0;
    top: 0;
}
#intelligent-items .int-left-list {
    height: 235px;
    width: 101px;
    float: left;
}
#intelligent-items .int-left-list li {
    box-sizing: border-box;
    background: #ececec;
    border-top: 1px solid #fff;
}
#intelligent-items .int-left-list li:nth-child(1) {
    height: 47px;
    border: none;
}
#intelligent-items .int-left-list .active {
    background: #ce1a1b;
}
#intelligent-items .int-left-list .active a {
    color: #fff;
}
#intelligent-items .int-left-list .active a img {
    z-index: 100;
}
#intelligent-items .int-left-list li .int-text{
    display: block;
    line-height: 46px;
    height: 46px;
    width: 101px;
    text-align: center;
}
#intelligent-items .int-left-bottom {
    height: 182px;
    width: 100%;
    float: left;
}
#intelligent-items .int-left-bottom img {
    box-sizing: border-box;
    float: left;
    height: 182px;
    width: 182px;
    border-right: 1px solid #fff;
}#intelligent-items .int-left-bottom img:nth-child(1) {
    border: none;
}
#intelligent-items .int-right {
    height: 417px;
    width: 428px;
    float: right;
}
#intelligent-items .int-right a {
    display: block;
    height: 234px;
    width: 213px;
    float: left;
}
#intelligent-items .int-right a img {
    float: left;
    height: 234px;
    width: 213px;
    transition: all 0.2s;
}
#intelligent-items .int-right a:hover img{
        transform: scale(1.05,1.05);
        -ms-transform: scale(1.05,1.05);	/* IE 9 */
        -webkit-transform: scale(1.05,1.05);	/* Safari 和 Chrome */
        -o-transform: scale(1.05,1.05);	/* Opera */
        -moz-transform: scale(1.05,1.05);	/* Firefox */
}
#intelligent-items .int-right a:nth-child(3) {
    height: 234px;
    width: 213px;
}
#intelligent-items .int-right a:nth-child(3) img{
    height: 182px;
    width: 426px;
}
#intelligent-items .int-bottom {
    float: left;
}
#intelligent-items .int-bottom a {
    display: block;
}
#intelligent-items .int-bottom a img:nth-child(1) {
    width: 1160px;
    height: 120px;
}
#intelligent-items .int-bottom a img:nth-child(2) {
    width: 1160px;
    height: 120px;
}

#brand-sel {
    box-sizing: border-box;
    padding-left: 40px;
    background: url(../images/zol-home-icons.png) no-repeat -138px -125px;
    height: 36px;
    width: 1200px;
    margin: 50px auto 10px;
    color: #333;
}
#brand-sel h3 {
    line-height: 36px;
    font-size: 24px;
    font-weight: 400;
    margin-right: 10px;
    float: left;
}
#brand-sel div {
    line-height: 48px;
    font-size: 14px;
    color: #999;
}
#brand-sel-items {
    height: 340px;
    width: 1200px;
    margin: 0 auto;
    color: #333;
}
#brand-sel-items li {
    height: 340px;
    width: 230px;
    background: #fff;
    margin-right: 12.5px;
    float: left;
}
#brand-sel-items li:nth-child(1) a {
    display: block;
}
#brand-sel-items li:nth-child(1) a img {
    height: 340px;
    width: 230px;
}
#brand-sel-items li:nth-child(5) {
    margin-right: 0;
}
#brand-sel-items .item {
    box-sizing: border-box;
    padding: 20px 15px;
    text-align: center;
}
#brand-sel-items .item:hover {
    box-shadow:1px 1px 15px #333333;
    -moz-box-shadow:1px 1px 15px #333333; 
    -webkit-box-shadow:1px 1px 15px #333333; 
}
#brand-sel-items .item img {
    transition: all 0.4s;
}
#brand-sel-items .item:hover img {
    transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
}
#brand-sel-items .item a {
    display: block;
    color: #333;
    margin-bottom: 22px;
}
#brand-sel-items .item .ware-name {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 22px;
}
#brand-sel-items .item .ware-name a{
    display: block;
    color: #333;
}
#brand-sel-items .item .ware-name a:hover {
    color: #f33;
    text-decoration: underline;
}
#brand-sel-items .item .ware-price {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
#brand-sel-items .item .ware-price span {
    color: #f33;
}
#e-sports {
    height: 36px;
    width: 1200px;
    margin: 35px auto 10px;
    padding-left: 40px;
    box-sizing: border-box;
    position: relative;
    font-size: 20px;
    color: #333;
    line-height: 36px;
    background:url(../images/zol-home-icons.png) no-repeat -135px -167px;
}
#e-sports p {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    padding-right: 23px;
    height: 36px;
    line-height: 40px;
    background: url(../images/zol-home-icons.png) no-repeat 100% -277px;
    font-size: 12px;
}
#e-sports-items {
    height: 566px;
    width: 1200px;
    margin: 0 auto;
    color: #333;
}
#e-sports-items .items-left {
    height: 566px;
    width: 594px;
    background: #fff;
    float: left;
}
#e-sports-items .items-right {
    height: 566px;
    width: 594px;
    background: #fff;
    float: right;
}
#e-sports-items .items-left .title {
    height: 46px;
    width: 594px;
    box-sizing: border-box;
    padding: 0 15px;
    line-height: 46px;
    background: #7095ee;
}
#e-sports-items .items-left .title h5 {
    float: left;
    font-size: 18px;
    color: #fff;
    font-weight: 900;
}
#e-sports-items .items-left .title ul {
    float: right;
}
#e-sports-items .items-left .title ul li {
    float: left;
    height: 25px;
    margin-top: 10px;
    line-height: 25px;
    box-sizing: border-box;
    margin-left: 28px;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
}
#e-sports-items .items-left .title ul .cur {
    border-bottom: 3px solid #fff;
}
#e-sports-items .items-left .bottom {
    height: 260px;
}
#e-sports-items .items-left .bottom .item-ware {
    float: left;
    width: 160px;
    height: 260px;
    padding: 0 19px;
}
#e-sports-items .items-left .bottom .item-ware a{
    display:  block;
    padding: 10px 0;
}
#e-sports-items .items-left .bottom .ware-name {
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    margin-bottom: 10px;
}
#e-sports-items .items-left .bottom .ware-name a {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 22px;
    color: #333;
}
#e-sports-items .items-left .bottom .ware-name a:hover {
    color: #ec3639;
    text-decoration: underline;
}
#e-sports-items .items-left .bottom .price {
    height: 34px;
    line-height: 34px;
    font-size: 18px;
    color: #ec3639;
}
#e-sports-items .items-right .title {
    height: 46px;
    width: 594px;
    box-sizing: border-box;
    padding: 0 15px;
    line-height: 46px;
    background: #9b74e9;
}
#e-sports-items .items-right .title h5 {
    float: left;
    font-size: 18px;
    color: #fff;
    font-weight: 900;
}
#e-sports-items .items-right .right{
    height: 260px;
}
#e-sports-items .items-right .right .item-ware {
    float: left;
    width: 160px;
    height: 260px;
    padding: 0 19px;
}
#e-sports-items .items-right .right .item-ware a{
    display:  block;
    padding: 10px 0;
}
#e-sports-items .items-right .right .ware-name {
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    margin-bottom: 10px;
}
#e-sports-items .items-right .right .ware-name a {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 22px;
    color: #333;
}
#e-sports-items .items-right .right .ware-name a:hover {
    color: #ec3639;
    text-decoration: underline;
}
#e-sports-items .items-right .right .price {
    height: 34px;
    line-height: 34px;
    font-size: 18px;
    color: #ec3639;
}

#optimization {
    height: 36px;
    width: 1200px;
    margin: 35px auto 10px;
    padding-left: 40px;
    box-sizing: border-box;
    position: relative;
    font-size: 20px;
    color: #333;
    line-height: 36px;
    background:url(../images/zol-home-icons.png) no-repeat -142px -385px;
}
#opt-items {
    height: 560px;
    width: 1200px;
    color: #333;
    margin: 0 auto;
}
#opt-items .left {
    height: 560px;
    width: 594px;
    float: left;
    background: #fff;
}
#opt-items .left .pic {
    height: 394px;
    width: 594px;
    display: block;
}
#opt-items .left .bottom-list li{
    float: left;
    height: 60px;
    width: 119.5px;
    padding: 10px 14px;
    position: relative;
    background: #fff;
    border-right: 1px solid #f7f7f7;
    border-top: 1px solid #f7f7f7;
}
/* #opt-items .left .bottom-list li:nth-child(4) {
    border-right: none;
} */
#opt-items .left .bottom-list a {
    display: block;
}
#opt-items .right {
    height: 560px;
    width: 594px;
    color: #333;
    background: #fff;
    float: right;
}
#opt-items .right .title {
    height: 46px;
    width: 594px;
    box-sizing: border-box;
    padding: 0 15px;
    line-height: 46px;
    background: #e78c94;
}
#opt-items .right .title ul {
    float: right;
}
#opt-items .right .title ul li {
    float: left;
    height: 25px;
    margin-top: 10px;
    line-height: 25px;
    box-sizing: border-box;
    margin-left: 28px;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
}
#opt-items .right .title ul .cur {
    border-bottom: 3px solid #fff;
}
#opt-items .right .list-right{
    height: 260px;
}
#opt-items .right .list-right .item-ware {
    float: left;
    width: 160px;
    height: 257px;
    padding: 0 19px;
}
#opt-items .right .list-right .item-ware a{
    display:  block;
    padding: 10px 0;
}
#opt-items .right .list-right .ware-name {
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    margin-bottom: 10px;
}
#opt-items .right .list-right .ware-name a {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 22px;
    color: #333;
}
#opt-items .right .list-right .ware-name a:hover {
    color: #ec3639;
    text-decoration: underline;
}
#opt-items .right .list-right .price {
    height: 34px;
    line-height: 34px;
    font-size: 18px;
    color: #ec3639;
}

#digital-products {
    box-sizing: border-box;
    padding-left: 40px;
    background: url(../images/zol-home-icons.png) no-repeat -141px -208px;
    height: 36px;
    width: 1200px;
    margin: 35px auto 10px;
    color: #333;
}
#digital-products h3 {
    line-height: 36px;
    font-size: 24px;
    font-weight: 400;
    margin-right: 10px;
    float: left;
}
#digital-products div {
    line-height: 48px;
    font-size: 14px;
    color: #999;
}
#dig-pro {
    height: 647px;
    width: 1200px;
    margin: 0 auto;
}
#dig-pro .dig-pro-left{
    height: 647px;
    width: 594px;
    background: #fff;
    float: left;
}
#dig-pro .dig-pro-left .dig-title {
    height: 46px;
    width: 594px;
    box-sizing: border-box;
    padding: 0 15px;
    line-height: 46px;
    background: #3ccbcc;
}
#dig-pro .dig-pro-left .dig-title h5 {
    float: left;
    font-size: 18px;
    color: #fff;
    font-weight: 900;
}
#dig-pro .dig-pro-left .dig-title .title-more {
    float: right;
    height: 18px;
    line-height: 18px;
    margin-top: 14px;
    color: #fff;
}
#dig-pro .dig-pro-left .dig-title .title-more span:nth-child(1) {
    font-size: 14px;
}
#dig-pro .dig-pro-left .dig-title .title-more span:nth-child(2) {
    display: inline-block;
    height: 16px;
    width: 16px;
    line-height: 16px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 8px;
}
#dig-pro .dig-pro-left .list-left{
    height:540px;
    border-bottom: 1px solid #e6e6e6;
}
#dig-pro .dig-pro-left .list-left .item-ware {
    float: left;
    width: 160px;
    height: 257px;
    padding: 0 19px;
}
#dig-pro .dig-pro-left .list-left .item-ware a{
    display:  block;
    padding: 10px 0;
}
#dig-pro .dig-pro-left .list-left .ware-name {
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    margin-bottom: 10px;
}
#dig-pro .dig-pro-left .list-left .ware-name a {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 22px;
    color: #333;
}
#dig-pro .dig-pro-left .list-left .ware-name a:hover {
    color: #ec3639;
    text-decoration: underline;
}
#dig-pro .dig-pro-left .list-left .price {
    height: 34px;
    line-height: 34px;
    font-size: 18px;
    color: #ec3639;
}
#dig-pro .dig-pro-left .bot-pic {
    height: 60px;
}
#dig-pro .dig-pro-left .bot-pic a {
    display: block;
}
#dig-pro .dig-pro-left .bot-pic li {
    float: left;
    padding: 10px 14px;
    background: #fff;
}

#dig-pro .dig-pro-right{
    height: 647px;
    width: 594px;
    background: #fff;
    float: right;
}
#dig-pro .dig-pro-right .dig-title {
    height: 46px;
    width: 594px;
    box-sizing: border-box;
    padding: 0 15px;
    line-height: 46px;
    background: #eb9e74;
}
#dig-pro .dig-pro-right .dig-title h5 {
    float: left;
    font-size: 18px;
    color: #fff;
    font-weight: 900;
}
#dig-pro .dig-pro-right .dig-title .title-more {
    float: right;
    height: 18px;
    line-height: 18px;
    margin-top: 14px;
    color: #fff;
}
#dig-pro .dig-pro-right .dig-title .title-more span:nth-child(1) {
    font-size: 14px;
}
#dig-pro .dig-pro-right .dig-title .title-more span:nth-child(2) {
    display: inline-block;
    height: 16px;
    width: 16px;
    line-height: 16px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 8px;
}
#dig-pro .dig-pro-right .list-right{
    height:540px;
    border-bottom: 1px solid #e6e6e6;
}
#dig-pro .dig-pro-right .list-right .item-ware {
    float: left;
    width: 160px;
    height: 257px;
    padding: 0 19px;
}
#dig-pro .dig-pro-right .list-right .item-ware a{
    display:  block;
    padding: 10px 0;
}
#dig-pro .dig-pro-right .list-right .ware-name {
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    margin-bottom: 10px;
}
#dig-pro .dig-pro-right .list-right .ware-name a {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 22px;
    color: #333;
}
#dig-pro .dig-pro-right .list-right .ware-name a:hover {
    color: #ec3639;
    text-decoration: underline;
}
#dig-pro .dig-pro-right .list-right .price {
    height: 34px;
    line-height: 34px;
    font-size: 18px;
    color: #ec3639;
}
#dig-pro .dig-pro-right .bot-pic {
    height: 60px;
}
#dig-pro .dig-pro-right .bot-pic a {
    display: block;
}
#dig-pro .dig-pro-right .bot-pic li {
    float: left;
    padding: 10px 14px;
    background: #fff;
}

/* -----------------------------register------------------------------------- */
#register-wrap {
    height: 768px;
    width: 980px;
    box-sizing: border-box;
    padding: 0 0 100px;
    margin:0 auto;
    border: 1px solid #e6e6e6;
}
#register-wrap .title {
    padding: 16px 0 16px 380px;
    background: #fafafa;
    font-size: 18px;
    color: #999;
}
/*# sourceMappingURL=style.css.map */
